@media screen {

body {
  margin: 0 auto;
  width: 40em;
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
  cursor: pointer;
  }
}

button {
  @include border-radius(4px);
  vertical-align: middle;
  border-style: solid;
  border-width: 1px;
  font-size: 87.5%;
}

hr {
  height: .125em;
  width: 75%;
  border: 0;
}

.js-infobox {
  position: fixed;
  left: 1em;
  top: 0;
  width: 12em;
  h3 {
    cursor: text;
  }
  li + li {
    margin-top: 1em;
  }
}

.key {
  padding: 0 .25em;
  @include border-radius(3px);
  border: .125em solid;
  font-weight: bold;
}

.hidden {
  display: none;
  visibility: hidden;
}

.active {
  @include border-radius(5px);
  padding: .125em .25em;
}

ol.active,
ul.active {
  padding-left: 40px;
  list-style-position: inside;
    /* lists will not render correctly in Gecko, due to an ancient bug
    /* that's yet to be fixed:
    /* https://bugzilla.mozilla.org/show_bug.cgi?id=36854 */
}

/* high-contrast theme */
.high {
  .active {
    border: .125em solid black;
    button {
      border: .125em solid black;
    }
  }
  button {
    background-color: white;
    border: .125em solid black;
  }
  .collapsed {
    color: gray;
    border-color: gray;
    .active {
      color: white;
    }
    button {
      border-color: gray;
      color: gray;
    }
  }
}

/* SOLARIZED THEMES */
/* Copyright (c) 2011 Ethan Schoonover */
/* Released under the MIT license and available at */
/* http://ethanschoonover.com/solarized */
.dark {
  background-color: $base03;
  color: $base0;
  .active {
    background-color: $base02;
    button {
      background-color: $base03;
      border-color: $base03;
    }
  }
  .collapsed {
    color: $base01;
  }
  a {
    color: $base1;
    &:visited {
      color: $base01;
    }
  }
  button {
    background-color: $base02;
    border-color: $base02;
    color: $base0;
  }
  .key {
    color: $base03;
    background-color: $base0;
    border-color: $base0;
  }
  hr {
    background-color: $base0;
    color: $base0;
  }
}

.light {
  background-color: $base3;
  color: $base00;
  .active {
    background-color: $base2;
    button {
      background-color: $base3;
      border-color: $base3;
    }
  }
  .collapsed {
    color: $base1;
  }
  a {
    color: $base01;
    &:visited {
      color: $base1;
    }
  }
  button {
    background-color: $base2;
    border-color: $base2;
    color: $base00;
  }
  .key {
    color: $base3;
    background-color: $base00;
    border-color: $base00;
  }
  hr {
    background-color: $base00;
    color: $base00;
  }
}

/* end @media only screen */
}

@media screen and (max-width: $break1-width) {
  body {
    width: 30em;
  }
}

@media screen and (max-width: $break2-width) {
  body {
    width: 33em;
  }
/* get rid of the infobox on small displays */
  .js-infobox {
    position: absolute;
    left: -999em;
    top: -999px;
  }
}

@media screen and (max-width: $break3-width) {
  body {
    width: auto;
    margin: 0 5%;
  }
}